*{
    box-sizing: border-box;	
}
body 
{
	font-family: Tahoma, Arial;
	margin: 0;
	padding: 0;
}

.navBar {
	background: #333;
	text-align: center;
	margin: 0;
	padding: 10px;
	position: fixed;
	width: 100%;
	top: 0;
}

.navBar li 
{
	display: inline-block;
	color: #fff;
	padding: 20px
}
.navBar li a
{
	text-decoration: none;
	color: #fff;
}
.block
{
	height: 100vh;
}