*
	box-sizing: border-box

body
	padding: 0
	margin: 0
	font-family: Tahoma, Arial

.navBar
	background: rgba(0, 0, 0, .7)
	text-align: center
	margin: 0
	padding: 5px
	width: 100%
	top: 0
	position: fixed

	li
		display: inline-block
		color: #fff
		padding: 20px
	a.active
		color: #ffea00
	a
		text-decoration: none
		color: #fff


// fixed-menu

.fixed-menu
	background: #333
	// background: url('https://images.pexels.com/photos/531057/pexels-photo-531057.jpeg?cs=srgb&dl=black-and-white-casual-face-531057.jpg&fm=jpg')
	// background-size: cover
	color: #eee
	padding: 10px
	position: fixed
	left: -240px
	// left: -98%       image
	top: 0
	height: 100% 
	width: 240px
	// width: 98%       image
	z-index: 9999
	.fa-globe
		position: absolute
		right: -30px
		top: 90px
		background: #333
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
		border-radius: 0 10px 10px 0
		cursor: pointer

	.chang-colors li
		width: 25px
		border-radius: 50%
		margin: 20px
		// list-style: none    ?????
		// display: inline-block
		cursor: pointer


	[data-color="blue"]
		background-color: #3498db

	[data-color="red"]
		background-color: #c0392b

	[data-color="green"]
		background-color: #27ae60


	[data-color="purple"]
		background-color: #8e44ad




	
.block
	min-height: 1200px 
	background: #eee
	margin-bottom: 20px
	padding: 60px 0
	text-align: center

#HOME h3
	text-align: center

.show-more
	color: #5352ed
	font-weight: bold
	cursor: pointer

.scroll-top
	background: #333
	color: #fff
	display: inline-block
	padding: 0 5px 3px
	position: fixed
	bottom: 10px
	right: 10px
	border-radius: 10px
	display: none

.popup
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 9999
	background: rgba(87, 86, 82, 0.8)
	display: none

.inner
	background: #fff
	border: 1px solid #ccc
	border-radius: 5px
	padding: 20px
	width: 600px
	height: 500px
	left: 50%
	margin-left: -300px
	top: 50%
	margin-top: -250px
	position: relative
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
	text-align: center
	line-height: 35px

.bouttons-effects .from-left
	cursor: pointer
	display: inline-block
	text-align: center
	margin: 20px
	margin-top: 10px
	background: #9c88ff
	color: #fff
	// width: 140px
	padding: 10px 50px
	border-radius: 10px
	font-weight: bold
	border: none
	position: relative
	overflow: hidden

	span
		&:first-child
			position: absolute
			left: 0
			top: 0
			width: 0
			height: 100%
			display: block
			background: #b5a6fd
			background-size: cover
			z-index: 1

		&:last-child
			position: relative
			z-index: 2

.border-left
	cursor: pointer
	display: inline-block
	text-align: center
	margin: 20px
	margin-top: 10px
	background: #fff
	color: #2980b9
	// width: 140px
	padding: 10px 50px
	border-radius: 0
	font-weight: bold
	border: none
	position: relative
	overflow: visble

	span
		&:first-child
			position: absolute
			background: #2980b9
			width: 0
			height: 3px
			left: 0
			top: auto
			bottom: -3px
			display: block
			z-index: 1

.animated-progress
	width: 300px
	height: 30px
	border-radius: 5px
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
	margin: 20px 10px
	overflow: hidden

	span
		height: 100%
		width: 0
		display: block
		background: #4cd137
		color: #fff


// gallery
.gallery
	width: 800px
	margin: auto
	padding: 3px
	background: #fff
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)

	img
		max-width: 100%

	.thumbnails
		overflow: hidden

	.thumbnails img
		width: 19.2%
		float: left
		border: 3px solid #bbb
		cursor: pointer
		-webkit-transition: all .4s ease-in-out 
		-moz-transition: all .4s ease-in-out 
		transition: all .4s ease-in-out
		opacity: .7


	.thumbnails img:not(:last-child)
		margin-right: 1%

	
.gallery .thumbnails .selected
	border: 3px solid #130f40
	opacity: 1
.gallery .master-img
	height: 551px
	position: relative
.gallery .master-img i
	padding: 10px
	position: absolute
	top: 0
	cursor: pointer
	z-index: 2

.gallery .master-img .fa-chevron-left
	left: 0

.gallery .master-img .fa-chevron-right
	right: 0




	// start products 

.products
	width: 800px
	margin: 30px auto
	// overflow: hidden

	.product
		width: 49%
		float: left
		background: #fff
		border: 1px solid #ccc
		padding: 10px
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
		transition: all 0.3s cubic-bezier(.25,.8,.25,1)
	.product:hover
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

	.product
		&:first-child
			margin-right: 1%

		.data
			display: block
			color: #888
			font-size: 12px
			margin: 5px 0

	i
		display: block
		padding: 10px
		background: #eee
		margin: 10px 0
		cursor: pointer

	.description
		display: none
		padding: 10px



// start website theme colors
[data-default-color="blue"] .skin-color
	color: #3498db

[data-default-color="blue"] .skin-background
	background: #3498db
	color: #fff




[data-default-color="red"] .skin-color
	color: #c0392b

[data-default-color="red"] .skin-background
	background: #c0392b
	color: #fff




[data-default-color="green"] .skin-color
	color: #27ae60

[data-default-color="green"] .skin-background
	background: #27ae60
	color: #fff



[data-default-color="purple"] .skin-color
	color: #8e44ad

[data-default-color="purple"] .skin-background
	background: #8e44ad
	color: #fff


// end website theme colors




